

// button ====================================================================================================//

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #24242a;
	border-radius: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 157.142857%; /* 22/14 */
	letter-spacing: 2px;
	color: #fff;
	padding: 16px 30px;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: $blue;
	}
}

// Burger (**==MW==**) ====================================================================================================//

// Запрещаем скролл основного контента при открытом бургере
body._lock {
	overflow: hidden;
}
// Прячем бургер на больших экранах
.menu__icon {
	display: none;
}

@media (max-width: $mobile) {
	.menu__icon {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
	// Три полоски
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2); //10%
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1)); //transform: scale(1) translate(0px -50%);
		}
	}

	.menu__icon._active {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto; // Добавляем скролл

		// Рисуем шапку
		&::before {
			content: '';
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			//height: 70px; // Высота шапки
			//background-color: #912105;
			z-index: 2;
		}
	}

	// Выезд меню-бургера при нажатии на бургер
	.menu__body._active {
		left: 0;
	}
}

// header ====================================================================================================//

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #0d0d11;

	&__container {
	}

	&__menu {
	}

	&__logo {
		z-index: 5;
		@media (max-width: 767px) {
			flex: 1 1 auto;
		}
		@media (max-width: 450px) {
			max-width: 125px;
			img {
				max-width: 100%;
			}
			margin: 0px 10px 0px 0px;
		}

	}

	&__button {
		@media (max-width: 767px) {
			display: none;
		}

		&_b {
			display: none;
			@media (max-width: 767px) {
				display: block;
				z-index: 5;
				@include adaptiveValue("margin-right", 50, 10, 767, 320, 1);
			}
			@media (max-width: 450px) {
				padding: 10px 12px;
				letter-spacing: 1px;
			}
		}
	}
}
.menu {
	@include adaptiveValue("height", 116, 80, 1280, 767, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__body {
	}

	&__list {
		@include adaptiveValue("font-size", 32, 25, 767, 320, 1);
		color: #fff;
		li {
				@include adaptiveValue("margin-top", 30, 20, 767, 230, 1);
		}

		@media (min-width: 767px) {
			display: flex;
			align-items: center;
			font-size: 16px;
			li {
				margin: 0;
				&:not(:first-child){
					@include adaptiveValue("margin-left", 35, 20, 1280, 767, 1);
				}
				transition: all 0.3s ease 0s;
				&:hover {
					color: #ff6f36;
				}
			}
		}
	}

	&__icon {

	}
}
.menu-link {
}
